n8n/secretarIA_flow.json
{
  "name": "SecretarIA — WhatsApp Oficial Meta v1.0",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "={{$json.query['hub.mode'] ? 'GET' : 'POST'}}",
        "path": "meta-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1ff84197-1f2d-487c-9e57-f7c06b3d7f1a",
      "name": "Webhook Meta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        640
      ],
      "webhookId": "09cd3c25-608e-4db0-b45b-65d1fa67ce4b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a82c45c2-1c43-44e1-9550-4caacb0cf3fd",
              "leftValue": "={{$json.query['hub.mode']}}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c950b92d-3665-4b18-929d-3296046012c7",
      "name": "Verificação Meta GET",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        560
      ]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseBody": "={{$json.query['hub.challenge']}}"
        }
      },
      "id": "7ce4eb06-6982-4d9c-8114-c52b7bf35e5b",
      "name": "Resposta Verificação",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ad42e934-1705-406e-a8be-da786a19efc6",
              "leftValue": "={{$json.body.entry[0].changes[0].value.messages[0].from}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cba9a9ee-2bf0-4ff9-ba32-a048d76190d6",
      "name": "Filtrar Mensagens",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        640
      ]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseBody": "ok"
        }
      },
      "id": "9885b5e4-f580-4438-baa0-7c163987e4b1",
      "name": "Resposta 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        960,
        560
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b3cd125-0e83-4224-abf2-105ffbb6c973",
              "name": "Telefone",
              "type": "string",
              "value": "={{$json.body.entry[0].changes[0].value.messages[0].from}}"
            },
            {
              "id": "dfc3354c-4aad-4bd1-9537-c0127ef4366b",
              "name": "Nome",
              "type": "string",
              "value": "={{$json.body.entry[0].changes[0].value.contacts[0].profile.name}}"
            },
            {
              "id": "6eecbc6a-3d9a-4723-ad1e-cf12afdd5386",
              "name": "MsgID",
              "type": "string",
              "value": "={{$json.body.entry[0].changes[0].value.messages[0].id}}"
            },
            {
              "id": "583a55a6-9c5f-46a1-9c0e-e513537650a3",
              "name": "MsgType",
              "type": "string",
              "value": "={{$json.body.entry[0].changes[0].value.messages[0].type}}"
            },
            {
              "id": "22b86516-a83f-4213-ab49-b8571475e448",
              "name": "Texto",
              "type": "string",
              "value": "={{$json.body.entry[0].changes[0].value.messages[0].text?.body || $json.body.entry[0].changes[0].value.messages[0].image?.caption || ''}}"
            },
            {
              "id": "09571886-f3f7-4587-aa8a-ea0375761586",
              "name": "MediaID",
              "type": "string",
              "value": "={{$json.body.entry[0].changes[0].value.messages[0].audio?.id || $json.body.entry[0].changes[0].value.messages[0].image?.id || $json.body.entry[0].changes[0].value.messages[0].document?.id || ''}}"
            },
            {
              "id": "dfe8c268-5a04-4a6f-9015-74933c40baa1",
              "name": "PhoneNumberID",
              "type": "string",
              "value": "={{$json.body.entry[0].changes[0].value.metadata.phone_number_id}}"
            },
            {
              "id": "6b3942da-bbed-4060-b7e3-52a9dbd13727",
              "name": "WABA_ID",
              "type": "string",
              "value": "={{$json.body.entry[0].id}}"
            },
            {
              "id": "cd256bf8-cd8e-4672-b4b6-77224fb838a2",
              "name": "ClientID",
              "type": "string",
              "value": "={{$json.body.entry[0].id}}"
            }
          ]
        },
        "options": {}
      },
      "id": "b45b5619-e6d9-4e59-8b92-8a764f19bce4",
      "name": "Extrai Dados Meta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        640
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "clientes",
        "filters": {
          "conditions": [
            {
              "keyName": "waba_id",
              "keyValue": "={{$('Extrai Dados Meta').item.json.WABA_ID}}"
            }
          ]
        }
      },
      "id": "95b31d61-1efd-40f7-bc90-56576998e812",
      "name": "Busca Config Cliente",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1200,
        640
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CRED_ID",
          "name": "Supabase SecretarIA"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "contatos",
        "alwaysOutputData": true,
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{$('Extrai Dados Meta').item.json.Telefone}}"
            },
            {
              "keyName": "client_id",
              "keyValue": "={{$('Extrai Dados Meta').item.json.WABA_ID}}"
            }
          ]
        }
      },
      "id": "b303f895-aaed-498e-9b2d-ab7fb143330c",
      "name": "Busca Contato",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1440,
        640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CRED_ID",
          "name": "Supabase SecretarIA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "939b656b-c8c0-427a-9409-1da29166ae4b",
              "leftValue": "={{$json.telefone}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1494fb40-0bbb-4b07-a398-e799f0bceab0",
      "name": "Contato Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        560
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "contatos",
        "dataToSend": {
          "properties": [
            {
              "keyName": "telefone",
              "keyValue": "={{$('Extrai Dados Meta').item.json.Telefone}}"
            },
            {
              "keyName": "nome",
              "keyValue": "={{$('Extrai Dados Meta').item.json.Nome}}"
            },
            {
              "keyName": "client_id",
              "keyValue": "={{$('Extrai Dados Meta').item.json.WABA_ID}}"
            },
            {
              "keyName": "atendimento_ia",
              "keyValue": "ativo"
            }
          ]
        }
      },
      "id": "e3a4471c-6a76-40a1-af4a-d2256739778c",
      "name": "Cadastrar Contato",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1920,
        480
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CRED_ID",
          "name": "Supabase SecretarIA"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "contatos",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{$('Extrai Dados Meta').item.json.Telefone}}"
            },
            {
              "keyName": "client_id",
              "keyValue": "={{$('Extrai Dados Meta').item.json.WABA_ID}}"
            }
          ]
        }
      },
      "id": "dabd9a69-b85a-45a4-a01a-0c6591a29f52",
      "name": "Verificar Pause",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2160,
        640
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CRED_ID",
          "name": "Supabase SecretarIA"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "c486bd28-6815-4619-a843-a3585063f98e",
                    "leftValue": "={{$json.atendimento_ia}}",
                    "rightValue": "pause",
                    "operator": {
                      "type": "string",
                      "operation": "notStartsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IA Ativa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "dd77f365-d934-457e-83be-a50929af5832",
                    "leftValue": "={{$json.atendimento_ia}}",
                    "rightValue": "pause",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pausado / Humano"
            }
          ]
        },
        "options": {}
      },
      "id": "42acec5f-7b17-4156-b1f3-eb5612b1c639",
      "name": "Rota Atendimento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2400,
        640
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "chat_messages",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{$('Extrai Dados Meta').item.json.Telefone}}",
            "mensagem": "={{$('Extrai Dados Meta').item.json.Texto}}",
            "papel": "user",
            "client_id": "={{$('Extrai Dados Meta').item.json.WABA_ID}}"
          }
        }
      },
      "id": "20c1c809-3f74-4175-9083-5929569044f1",
      "name": "Salvar Msg Humano",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2640,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CRED_ID",
          "name": "Postgres SecretarIA"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "54caa11b-6ffa-4c3c-aec7-ecc156c7102b",
                    "leftValue": "={{$('Extrai Dados Meta').item.json.MsgType}}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ae50c9d5-b198-4539-baee-b5fad4087d48",
                    "leftValue": "={{$('Extrai Dados Meta').item.json.MsgType}}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5f6eb113-f18f-4bda-ac91-41a4b0f2d214",
                    "leftValue": "={{$('Extrai Dados Meta').item.json.MsgType}}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d9ae0e48-e3f0-4230-bb4f-c12d0fd1a633",
                    "leftValue": "={{$('Extrai Dados Meta').item.json.MsgType}}",
                    "rightValue": "document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Documento"
            }
          ]
        },
        "options": {}
      },
      "id": "9d100cd2-8053-4211-818d-4c4521a4d297",
      "name": "Tipo de Mensagem",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2640,
        720
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v18.0/{{$('Extrai Dados Meta').item.json.MediaID}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('Busca Config Cliente').item.json.meta_token}}"
            }
          ]
        },
        "options": {}
      },
      "id": "53833b15-e1eb-4cfb-91c6-c1766e37dbf5",
      "name": "Busca URL Áudio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        560
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "META_CRED_ID",
          "name": "Meta WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.url}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('Busca Config Cliente').item.json.meta_token}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "f5361162-b773-40ae-8d31-b904c85d13e7",
      "name": "Download Áudio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        560
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "data",
        "options": {
          "language": "pt"
        }
      },
      "id": "0eb973cd-0c4a-46cf-87c2-68faaf847f1c",
      "name": "Transcrever Áudio",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.8,
      "position": [
        3360,
        560
      ],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CRED_ID",
          "name": "OpenAI SecretarIA"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "afe95660-86bf-42a5-98f6-9cceaf8e1a09",
              "name": "MsgProcessada",
              "type": "string",
              "value": "={{$json.text}}"
            },
            {
              "id": "68700645-4369-4aa6-a168-8c50e7801510",
              "name": "TipoOriginal",
              "type": "string",
              "value": "audio"
            }
          ]
        },
        "options": {}
      },
      "id": "ba3b3f7d-a634-41b2-9a91-28b2329709c8",
      "name": "Set Texto Áudio",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3600,
        560
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v18.0/{{$('Extrai Dados Meta').item.json.MediaID}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('Busca Config Cliente').item.json.meta_token}}"
            }
          ]
        },
        "options": {}
      },
      "id": "69e6c467-6740-4518-94c2-da0560440ae2",
      "name": "Busca URL Imagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        720
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.url}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('Busca Config Cliente').item.json.meta_token}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "32dafeb4-b112-46c9-ac6e-c1e47c8869cb",
      "name": "Download Imagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        720
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Analise esta imagem e forneça um resumo conciso e objetivo do que ela contém. Seja direto.",
        "inputType": "base64",
        "options": {}
      },
      "id": "1135f97e-9c1d-47f0-945b-71e513024cf3",
      "name": "Analisar Imagem",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        3360,
        720
      ],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CRED_ID",
          "name": "OpenAI SecretarIA"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf568402-ef91-4a19-973f-07cbcc53424c",
              "name": "MsgProcessada",
              "type": "string",
              "value": "=[Imagem recebida] {{$json.content[0].text}} {{$('Extrai Dados Meta').item.json.Texto ? '— Legenda: ' + $('Extrai Dados Meta').item.json.Texto : ''}}"
            },
            {
              "id": "5260ccb2-df8d-4105-a1bb-c2d20f86c700",
              "name": "TipoOriginal",
              "type": "string",
              "value": "imagem"
            }
          ]
        },
        "options": {}
      },
      "id": "f95f20b3-c0ea-4b67-91db-e88122f87cb4",
      "name": "Set Texto Imagem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3600,
        720
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v18.0/{{$('Extrai Dados Meta').item.json.MediaID}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('Busca Config Cliente').item.json.meta_token}}"
            }
          ]
        },
        "options": {}
      },
      "id": "4491a053-275b-4fda-a28e-4666b5f5b7b6",
      "name": "Busca URL Doc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        880
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.url}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('Busca Config Cliente').item.json.meta_token}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "36dff703-cbf8-420e-97ce-88de9ccb3474",
      "name": "Download Doc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        880
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4139fea1-1873-46d5-81f9-b2e59806048d",
              "name": "MsgProcessada",
              "type": "string",
              "value": "=[Documento recebido: {{$('Extrai Dados Meta').item.json.MsgType}}] O cliente enviou um arquivo. Pergunte sobre o que precisa."
            },
            {
              "id": "08f61ba4-bd28-43ef-8f7f-2e5ef533f8c5",
              "name": "TipoOriginal",
              "type": "string",
              "value": "documento"
            }
          ]
        },
        "options": {}
      },
      "id": "de018411-570f-4f19-8de8-4ef34cfeec2a",
      "name": "Set Texto Doc",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3360,
        880
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d69a32c-4610-4527-ad86-4f9493b945b3",
              "name": "MsgProcessada",
              "type": "string",
              "value": "={{$('Extrai Dados Meta').item.json.Texto}}"
            },
            {
              "id": "3fc1c4dd-0be0-45b0-9aa9-5b1edcb8d5e1",
              "name": "TipoOriginal",
              "type": "string",
              "value": "texto"
            }
          ]
        },
        "options": {}
      },
      "id": "a0aec40f-14e3-4de4-8e6a-76d96e3214cb",
      "name": "Set Texto Direto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2880,
        960
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "key": "={{$('Extrai Dados Meta').item.json.Telefone}}_msgs",
        "value": "={{$json.MsgProcessada}}",
        "expire": true,
        "ttl": 10,
        "options": {}
      },
      "id": "b61902eb-01db-49e4-939c-dbf6f6451f47",
      "name": "Redis Salva Parcial",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3840,
        720
      ],
      "credentials": {
        "redis": {
          "id": "REDIS_CRED_ID",
          "name": "Redis SecretarIA"
        }
      }
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "seconds"
      },
      "id": "d0af58a6-61cd-4539-8326-b9ff5fe28353",
      "name": "Espera Debounce",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4080,
        720
      ],
      "webhookId": "542c2369-c598-4f4f-97ab-939dabadcf03"
    },
    {
      "parameters": {
        "operation": "lrange",
        "key": "={{$('Extrai Dados Meta').item.json.Telefone}}_msgs",
        "start": 0,
        "end": -1,
        "options": {}
      },
      "id": "908c7dc3-ff50-4c39-9a94-03cd9a2ab033",
      "name": "Redis Lê Buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4320,
        720
      ],
      "credentials": {
        "redis": {
          "id": "REDIS_CRED_ID",
          "name": "Redis SecretarIA"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{$('Extrai Dados Meta').item.json.Telefone}}_msgs",
        "options": {}
      },
      "id": "545bcf3d-a92d-4dce-86d0-9fb0b4ae31ed",
      "name": "Redis Apaga Buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4560,
        720
      ],
      "credentials": {
        "redis": {
          "id": "REDIS_CRED_ID",
          "name": "Redis SecretarIA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst buffer = $input.first().json.value || [];\nconst msgs = Array.isArray(buffer) ? buffer : [buffer];\nconst mensagem = msgs.join(' ');\nreturn [{ json: { mensagem_completa: mensagem } }];\n"
      },
      "id": "9e9dec3e-2bab-4912-b31d-32fe8565cb55",
      "name": "Monta Mensagem Completa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4800,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst cliente = $('Busca Config Cliente').first().json;\nconst briefing = cliente.briefing || {};\n\nconst nome_ia    = briefing.ai_name        || 'Assistente';\nconst tom        = briefing.ai_tone        || 'profissional e acolhedor';\nconst objetivo   = briefing.ai_goal        || 'ajudar os clientes';\nconst horario    = briefing.business_hours || 'horário comercial';\nconst segmento   = briefing.segment        || '';\nconst descricao  = briefing.description    || '';\nconst restricoes = briefing.restrictions   || '';\nconst promocoes  = briefing.promotions     || '';\nconst escalation_trigger = briefing.escalation_trigger || 'quando o cliente pedir falar com humano';\nconst escalation_number  = briefing.escalation_number  || '';\n\nconst servicos = (briefing.services || [])\n  .map(s => `- ${s.name}${s.price ? ': ' + s.price : ''}`)\n  .join('\\n') || 'Consulte diretamente com a equipe.';\n\nconst faqs = (briefing.faqs || [])\n  .map(f => `P: ${f.q}\\nR: ${f.a}`)\n  .join('\\n\\n') || '';\n\nconst system_prompt = `# Identidade\nVocê é ${nome_ia}, assistente virtual de ${cliente.name || 'nossa empresa'}.\nSegmento: ${segmento}\n${descricao}\n\n# Tom e Estilo\n${tom}. Não use emojis excessivos. Seja humano, direto e gentil.\nNunca mencione que é uma IA a menos que seja diretamente perguntado.\n\n# Objetivo Principal\n${objetivo}\n\n# Horário de Atendimento\n${horario}\nSe a mensagem chegar fora do horário, informe gentilmente e confirme que responderá assim que possível.\n\n# Serviços e Valores\n${servicos}\n\n# Perguntas Frequentes\n${faqs}\n\n# Regras Importantes\n${restricoes ? restricoes : 'Seja sempre educado e profissional.'}\n\n# Promoções Ativas\n${promocoes ? promocoes : 'Nenhuma promoção ativa no momento.'}\n\n# Transferência para Humano\nSe o cliente: ${escalation_trigger} — responda normalmente e ao final da sua mensagem inclua exatamente o código: 251213\nIsso ativará a transferência para atendimento humano.\n${escalation_number ? 'Número de transferência: ' + escalation_number : ''}\n\n# Formato de Resposta\n- Máximo 400 caracteres por bloco de resposta\n- Não use markdown excessivo\n- Use *negrito* para termos importantes\n- Nunca use ** (duplo asterisco)\n- Links sempre entre backticks: \\`www.link.com\\`\n- Seja conversacional, como WhatsApp real`;\n\nreturn [{ json: { system_prompt, nome_ia } }];\n"
      },
      "id": "2bd1574c-d31b-47e6-8ec0-0d833009717e",
      "name": "Monta System Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5040,
        720
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$('Monta Mensagem Completa').item.json.mensagem_completa}}",
        "options": {
          "systemMessage": "={{$json.system_prompt}}",
          "maxIterations": 5,
          "returnIntermediateSteps": false
        }
      },
      "id": "32df659c-56a2-4580-aa60-51853cb620a8",
      "name": "Agente IA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        5280,
        720
      ]
    },
    {
      "parameters": {
        "model": "gpt-4.1",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "d8168a90-ad01-4b80-9a0f-2759f282c53c",
      "name": "GPT-4.1 Principal",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        5200,
        880
      ],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CRED_ID",
          "name": "OpenAI SecretarIA"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$('Extrai Dados Meta').item.json.Telefone}}_{{$('Extrai Dados Meta').item.json.WABA_ID}}",
        "contextWindowLength": 50
      },
      "id": "1a43d1c1-1204-4b54-b169-a88762408c65",
      "name": "Memória Postgres",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        5360,
        880
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CRED_ID",
          "name": "Postgres SecretarIA"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Consulta e cria eventos na agenda. Use para verificar disponibilidade e agendar consultas/reuniões.",
        "resource": "event",
        "operation": "create",
        "calendar": {
          "__rl": true,
          "value": "={{$('Busca Config Cliente').item.json.calendar_email}}",
          "mode": "id"
        },
        "start": "={{/*será preenchido pelo agente*/}}",
        "end": "={{/*será preenchido pelo agente*/}}",
        "additionalFields": {}
      },
      "id": "ef8cb52a-43c6-4347-8084-312ad68a2578",
      "name": "Tool Google Calendar",
      "type": "@n8n/n8n-nodes-langchain.toolGoogleCalendar",
      "typeVersion": 1,
      "position": [
        5440,
        880
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GCAL_CRED_ID",
          "name": "Google Calendar SecretarIA"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Verifica horários livres e eventos já agendados para uma data específica.",
        "resource": "event",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{$('Busca Config Cliente').item.json.calendar_email}}",
          "mode": "id"
        },
        "returnAll": false,
        "limit": 10,
        "additionalFields": {}
      },
      "id": "bb69be34-e239-4457-aec6-68c1ea5ccf65",
      "name": "Tool Ver Agenda",
      "type": "@n8n/n8n-nodes-langchain.toolGoogleCalendar",
      "typeVersion": 1,
      "position": [
        5580,
        880
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GCAL_CRED_ID",
          "name": "Google Calendar SecretarIA"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e76f7c8c-b1a1-4df7-8fb3-dd7098590c3e",
              "name": "Resposta",
              "type": "string",
              "value": "={{$json.output}}"
            },
            {
              "id": "49c25f09-a867-4be4-82ff-42e95f2d28d0",
              "name": "Nome do agente",
              "type": "string",
              "value": "={{$('Monta System Prompt').item.json.nome_ia}}"
            }
          ]
        },
        "options": {}
      },
      "id": "e368bc06-ee61-4b49-bbe3-02adbe05e7e0",
      "name": "Set Resposta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5520,
        720
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e669f44c-6728-48dd-a72b-eee3b057723b",
                    "leftValue": "={{$json.Resposta}}",
                    "rightValue": "251213",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Continuar IA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "18af5dba-d1ce-4596-98c6-ca237482f881",
                    "leftValue": "={{$json.Resposta}}",
                    "rightValue": "251213",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pausar IA"
            }
          ]
        },
        "options": {}
      },
      "id": "dd96eba6-858d-48d4-be72-756d7406e3c7",
      "name": "Detecta Escalação",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        5760,
        720
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contatos",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{$('Extrai Dados Meta').item.json.Telefone}}"
            },
            {
              "keyName": "client_id",
              "keyValue": "={{$('Extrai Dados Meta').item.json.WABA_ID}}"
            }
          ]
        },
        "dataToSend": {
          "properties": [
            {
              "keyName": "atendimento_ia",
              "keyValue": "pause"
            }
          ]
        }
      },
      "id": "09f351b5-00bb-439d-8b7f-5e02da73334b",
      "name": "Pausar IA",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6000,
        560
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CRED_ID",
          "name": "Supabase SecretarIA"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Whatsapp message to be splitted and formated:{{ $json.Resposta }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "={\n  \"messages\": [\n    \"Por favor, gere a saída no seguinte formato JSON: {\\\"messages\\\": [\\\"splitedMessage\\\", \\\"splitedMessage\\\"]}\",\n    \"As mensagens devem ser divididas de forma natural, afinal estamos conversando com um humano.\",\n    \"Jamais separe uma mensagem vazia. Cada mensagem deve ter entre 300 e 500 caracteres, sem cortar informações.\",\n    \"Certifique-se do formato WhatsApp: *negrito* (substitua '**' por '*'), não use negrito desnecessário, remova todos '*' soltos; _itálico_ (extremamente raro).\",\n    \"Tudo o que for link deve estar entre backticks: `www.link.com.br`.\",\n    \"Remova o código 251213 da mensagem se estiver presente.\"\n  ]\n}"
            }
          ]
        }
      },
      "id": "6a2c0ecc-231c-401c-8801-49b6ace12aa5",
      "name": "Parser Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        6000,
        720
      ]
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "id": "9f6178a9-3202-4f1a-b4eb-c98921ade42b",
      "name": "GPT-4.1-mini Parser",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        5920,
        880
      ],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CRED_ID",
          "name": "OpenAI SecretarIA"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"object\",\"properties\":{\"messages\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}}},\"required\":[\"messages\"]}"
      },
      "id": "1cf3ea75-35aa-4985-9605-c825664bb4fc",
      "name": "OutputParser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        6160,
        880
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.messages",
        "options": {
          "destinationFieldName": "output"
        }
      },
      "id": "a2e4b9dc-700d-4030-a1e3-378fe068565e",
      "name": "Split Mensagens",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        6240,
        720
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3a21d3ec-681f-494e-b93a-06bd7518f500",
      "name": "Loop Mensagens",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        6480,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{$('Extrai Dados Meta').item.json.PhoneNumberID}}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('Busca Config Cliente').item.json.meta_token}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{$('Extrai Dados Meta').item.json.Telefone}}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={\"body\": \"{{$json.output}}\", \"preview_url\": false}"
            }
          ]
        },
        "options": {}
      },
      "id": "1efed99e-89e3-4c3a-8fa9-779ddb9f3dc1",
      "name": "Envia WhatsApp Meta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6720,
        720
      ]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "da175917-248a-4111-aa0d-1913a84b1eb4",
      "name": "Aguarda Entre Msgs",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6960,
        720
      ],
      "webhookId": "283f1ee7-fdff-49c3-a8d0-572f303b11f7"
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "chat_messages",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{$('Extrai Dados Meta').item.json.Telefone}}",
            "mensagem": "={{$('Monta Mensagem Completa').item.json.mensagem_completa}}",
            "resposta": "={{$('Set Resposta').item.json.Resposta}}",
            "papel": "assistant",
            "agent_name": "={{$('Set Resposta').item.json['Nome do agente']}}",
            "client_id": "={{$('Extrai Dados Meta').item.json.WABA_ID}}",
            "tipo_msg": "={{$('Extrai Dados Meta').item.json.MsgType}}"
          }
        }
      },
      "id": "40293921-dc96-41e3-bc0c-3487450a42ee",
      "name": "Salvar Histórico",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7200,
        720
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CRED_ID",
          "name": "Postgres SecretarIA"
        }
      }
    },
    {
      "parameters": {
        "content": "# 🔗 ENTRADA META API OFICIAL\nWebhook POST + verificação GET automática",
        "height": 560,
        "width": 400,
        "color": 4
      },
      "id": "1d1f53bc-a76c-4b71-9a55-8cb0eaba04aa",
      "name": "Note_[200, 480]",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        480
      ]
    },
    {
      "parameters": {
        "content": "# 📱 EXTRAÇÃO & CADASTRO\nAdapta payload Meta → campos internos\nCadastra contato no Supabase na 1ª mensagem",
        "height": 560,
        "width": 360,
        "color": 4
      },
      "id": "4bda2cf0-6fd2-4d45-b261-1c2dabed9c5a",
      "name": "Note_[960, 480]",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        480
      ]
    },
    {
      "parameters": {
        "content": "# ⏸ PAUSE / RESUME\nVerifica status no Supabase\nPausado → salva mensagem, ignora IA",
        "height": 480,
        "width": 280,
        "color": 6
      },
      "id": "94dcb8fd-4c30-4397-b107-07ece5267a0a",
      "name": "Note_[2160, 480]",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2160,
        480
      ]
    },
    {
      "parameters": {
        "content": "# 🎙️ PROCESSAMENTO DE MÍDIA\nÁudio → Whisper → texto\nImagem → GPT-4V → descrição\nDoc → aviso ao agente",
        "height": 1120,
        "width": 560,
        "color": 5
      },
      "id": "94c992c6-9dbc-47fa-94d9-3ddc03fdc4ab",
      "name": "Note_[2640, 400]",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2640,
        400
      ]
    },
    {
      "parameters": {
        "content": "# ⏱ DEBOUNCE REDIS\nAgrupa mensagens enviadas\nem sequência (4s de espera)\nEvita respostas fragmentadas",
        "height": 480,
        "width": 320,
        "color": 7
      },
      "id": "cec7d60a-e304-4da1-976e-93c245eb6a08",
      "name": "Note_[3840, 480]",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3840,
        480
      ]
    },
    {
      "parameters": {
        "content": "# 🧠 AGENTE IA\nSystem prompt gerado dinamicamente\ndo briefing do cliente\n+ Tools: Google Calendar",
        "height": 760,
        "width": 480,
        "color": 4
      },
      "id": "9a7c3a53-059e-4303-9947-2714d39646f4",
      "name": "Note_[5040, 480]",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5040,
        480
      ]
    },
    {
      "parameters": {
        "content": "# ✂️ PARSER CHAIN (reaproveitado)\nDivisão inteligente em blocos de\n300-500 chars com formatação WA",
        "height": 560,
        "width": 320,
        "color": 4
      },
      "id": "800edc40-a3af-45f1-86ec-4353e4eac6e3",
      "name": "Note_[5920, 480]",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5920,
        480
      ]
    },
    {
      "parameters": {
        "content": "# 📤 ENVIO META API OFICIAL\ngraph.facebook.com/v18.0/{PHONE_ID}/messages\nLoop com 3s entre mensagens",
        "height": 760,
        "width": 320,
        "color": 4
      },
      "id": "7ad9ab21-828e-49f7-9262-7804ac730802",
      "name": "Note_[6480, 480]",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6480,
        480
      ]
    }
  ],
  "connections": {
    "Webhook Meta": {
      "main": [
        [
          {
            "node": "Verificação Meta GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificação Meta GET": {
      "main": [
        [
          {
            "node": "Resposta Verificação",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filtrar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Mensagens": {
      "main": [
        [
          {
            "node": "Resposta 200",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extrai Dados Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai Dados Meta": {
      "main": [
        [
          {
            "node": "Busca Config Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Config Cliente": {
      "main": [
        [
          {
            "node": "Busca Contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Contato": {
      "main": [
        [
          {
            "node": "Contato Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contato Existe?": {
      "main": [
        [
          {
            "node": "Verificar Pause",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastrar Contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar Contato": {
      "main": [
        [
          {
            "node": "Verificar Pause",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Pause": {
      "main": [
        [
          {
            "node": "Rota Atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rota Atendimento": {
      "main": [
        [
          {
            "node": "Tipo de Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salvar Msg Humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de Mensagem": {
      "main": [
        [
          {
            "node": "Set Texto Direto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca URL Áudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca URL Imagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca URL Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca URL Áudio": {
      "main": [
        [
          {
            "node": "Download Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Áudio": {
      "main": [
        [
          {
            "node": "Transcrever Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever Áudio": {
      "main": [
        [
          {
            "node": "Set Texto Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca URL Imagem": {
      "main": [
        [
          {
            "node": "Download Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Imagem": {
      "main": [
        [
          {
            "node": "Analisar Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisar Imagem": {
      "main": [
        [
          {
            "node": "Set Texto Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca URL Doc": {
      "main": [
        [
          {
            "node": "Download Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Doc": {
      "main": [
        [
          {
            "node": "Set Texto Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Texto Áudio": {
      "main": [
        [
          {
            "node": "Redis Salva Parcial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Texto Imagem": {
      "main": [
        [
          {
            "node": "Redis Salva Parcial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Texto Doc": {
      "main": [
        [
          {
            "node": "Redis Salva Parcial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Texto Direto": {
      "main": [
        [
          {
            "node": "Redis Salva Parcial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Salva Parcial": {
      "main": [
        [
          {
            "node": "Espera Debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera Debounce": {
      "main": [
        [
          {
            "node": "Redis Lê Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Lê Buffer": {
      "main": [
        [
          {
            "node": "Redis Apaga Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Apaga Buffer": {
      "main": [
        [
          {
            "node": "Monta Mensagem Completa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta Mensagem Completa": {
      "main": [
        [
          {
            "node": "Monta System Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta System Prompt": {
      "main": [
        [
          {
            "node": "Agente IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1 Principal": {
      "ai_languageModel": [
        [
          {
            "node": "Agente IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memória Postgres": {
      "ai_memory": [
        [
          {
            "node": "Agente IA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Agente IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool Ver Agenda": {
      "ai_tool": [
        [
          {
            "node": "Agente IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente IA": {
      "main": [
        [
          {
            "node": "Set Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Resposta": {
      "main": [
        [
          {
            "node": "Detecta Escalação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detecta Escalação": {
      "main": [
        [
          {
            "node": "Parser Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pausar IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1-mini Parser": {
      "ai_languageModel": [
        [
          {
            "node": "Parser Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OutputParser": {
      "ai_outputParser": [
        [
          {
            "node": "Parser Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Parser Chain": {
      "main": [
        [
          {
            "node": "Split Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Mensagens": {
      "main": [
        [
          {
            "node": "Loop Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Mensagens": {
      "main": [
        [
          {
            "node": "Envia WhatsApp Meta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salvar Histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia WhatsApp Meta": {
      "main": [
        [
          {
            "node": "Aguarda Entre Msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguarda Entre Msgs": {
      "main": [
        [
          {
            "node": "Loop Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pausar IA": {
      "main": [
        [
          {
            "node": "Salvar Histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "secretaria-waai-manager"
  },
  "tags": [
    {
      "name": "SecretarIA"
    },
    {
      "name": "WhatsApp"
    },
    {
      "name": "MetaAPI"
    }
  ]
}