n8n/workflow_confirmacao.json
{
  "name": "SecretarIA Nutri Juliana — Confirmação de Consulta",
  "nodes": [

    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 1 }] }
      },
      "id": "cf000001-0000-0000-0000-000000000001",
      "name": "Cron 1h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-800, 600]
    },

    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/profiles",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
          { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
        ]},
        "sendQuery": true,
        "queryParameters": { "parameters": [
          { "name": "onboarding_completo", "value": "eq.true" },
          { "name": "wa_conectado",        "value": "eq.true" },
          { "name": "plano_ativo",         "value": "eq.true" },
          { "name": "select",              "value": "id,wa_phone_number_id,wa_access_token" }
        ]},
        "options": {}
      },
      "id": "cf000002-0000-0000-0000-000000000002",
      "name": "Buscar Tenants Ativos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-560, 600]
    },

    {
      "parameters": { "options": {} },
      "id": "cf000003-0000-0000-0000-000000000003",
      "name": "Loop Tenants",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-320, 600]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/get_tenant_config",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
          { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
          { "name": "Content-Type",  "value": "application/json" }
        ]},
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ p_user_id: $json.id }) }}",
        "options": {}
      },
      "id": "cf000004-0000-0000-0000-000000000004",
      "name": "Buscar Config Tenant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-80, 600]
    },

    {
      "parameters": {
        "jsCode": "const cfg = $input.first().json;\nconst tenant = $('Loop Tenants').item.json;\n\n// Verifica se confirmação está ativa para este tenant\nif (cfg.confirmacao_consulta_ativa !== 'true') return [];\n\nconst horas = parseInt(cfg.confirmacao_horas_antes || '24', 10);\nconst agora = new Date();\nconst limite = new Date(agora.getTime() + horas * 3600 * 1000);\n\nreturn [{\n  json: {\n    user_id: tenant.id,\n    wa_phone_number_id: tenant.wa_phone_number_id,\n    wa_access_token: tenant.wa_access_token,\n    nome_assistente: cfg.nome_assistente || 'Lívia',\n    horas_antes: horas,\n    agora: agora.toISOString(),\n    limite: limite.toISOString()\n  }\n}];"
      },
      "id": "cf000005-0000-0000-0000-000000000005",
      "name": "Verificar Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [160, 600]
    },

    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/contatos",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
          { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
        ]},
        "sendQuery": true,
        "queryParameters": { "parameters": [
          { "name": "user_id",             "value": "=eq.{{ $json.user_id }}" },
          { "name": "etiqueta",            "value": "eq.CONSULTA_AGENDADA" },
          { "name": "confirmacao_enviada", "value": "eq.false" },
          { "name": "ia_pausada",          "value": "eq.false" },
          { "name": "lgpd_consent",        "value": "eq.true" },
          { "name": "select",              "value": "*" },
          { "name": "limit",               "value": "50" }
        ]},
        "options": {}
      },
      "id": "cf000006-0000-0000-0000-000000000006",
      "name": "Buscar Agendados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 600]
    },

    {
      "parameters": {
        "jsCode": "const ctx = $('Verificar Config').item.json;\nconst agora  = new Date(ctx.agora);\nconst limite = new Date(ctx.limite);\n\nconst elegiveis = $input.all().filter(item => {\n  if (!item.json.consulta_agendada_em) return false;\n  const consulta = new Date(item.json.consulta_agendada_em);\n  return consulta > agora && consulta <= limite;\n});\n\n// Injeta credenciais do tenant em cada contato\nreturn elegiveis.map(item => ({\n  json: {\n    ...item.json,\n    wa_phone_number_id: ctx.wa_phone_number_id,\n    wa_access_token: ctx.wa_access_token,\n    nome_assistente: ctx.nome_assistente\n  }\n}));"
      },
      "id": "cf000007-0000-0000-0000-000000000007",
      "name": "Filtrar Janela",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 600]
    },

    {
      "parameters": { "options": {} },
      "id": "cf000008-0000-0000-0000-000000000008",
      "name": "Loop Contatos",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [880, 600]
    },

    {
      "parameters": {
        "promptType": "define",
        "text": "=Gere uma mensagem de confirmação de consulta para:\n- Nome: {{ $json.nome || 'paciente' }}\n- Data/hora da consulta: {{ $json.consulta_agendada_em }}\n- Queixa principal: {{ $json.principal_queixa || 'não informada' }}\n- Assistente: {{ $json.nome_assistente }}",
        "options": {
          "systemMessage": "Você é {{ $json.nome_assistente || 'Lívia' }}, assistente do consultório de nutrição.\n\nGere uma mensagem CURTA e CALOROSA de confirmação de consulta.\n\nDiretrizes:\n- Confirme a data e horário (formate de forma humana)\n- Pergunte se a pessoa confirma a presença (resposta: Sim / Não)\n- Tom acolhedor, feminino, profissional\n- Máximo 3 parágrafos curtos\n- Use no máximo 1 emoji (✨ ou 💛)\n- NUNCA mencione preços\n\nRetorne APENAS o texto da mensagem, sem aspas ou prefixos."
        }
      },
      "id": "cf000009-0000-0000-0000-000000000009",
      "name": "Gerar Confirmação",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1120, 600]
    },

    {
      "parameters": { "model": "gpt-4.1-mini", "options": {} },
      "id": "cf000010-0000-0000-0000-000000000010",
      "name": "OpenAI Confirmação",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1120, 400],
      "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI API" } }
    },

    {
      "parameters": {
        "assignments": { "assignments": [
          { "id": "cm1", "name": "mensagem",          "value": "={{ $json.text }}",                                                   "type": "string" },
          { "id": "cm2", "name": "phone_destino",     "value": "={{ $('Loop Contatos').item.json.phone }}",                          "type": "string" },
          { "id": "cm3", "name": "wa_phone_number_id","value": "={{ $('Loop Contatos').item.json.wa_phone_number_id }}",             "type": "string" },
          { "id": "cm4", "name": "wa_access_token",   "value": "={{ $('Loop Contatos').item.json.wa_access_token }}",                "type": "string" }
        ]},
        "options": {}
      },
      "id": "cf000011-0000-0000-0000-000000000011",
      "name": "Montar Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1360, 600]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $json.wa_phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "=Bearer {{ $json.wa_access_token }}" },
          { "name": "Content-Type",  "value": "application/json" }
        ]},
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ messaging_product: 'whatsapp', recipient_type: 'individual', to: $json.phone_destino, type: 'text', text: { preview_url: false, body: $json.mensagem } }) }}",
        "options": {}
      },
      "id": "cf000012-0000-0000-0000-000000000012",
      "name": "Enviar via Cloud API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 600]
    },

    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/contatos",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
          { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
          { "name": "Content-Type",  "value": "application/json" }
        ]},
        "sendQuery": true,
        "queryParameters": { "parameters": [
          { "name": "phone", "value": "=eq.{{ $json.phone_destino }}" }
        ]},
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ confirmacao_enviada: true, confirmacao_enviada_em: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "cf000013-0000-0000-0000-000000000013",
      "name": "Marcar Confirmação Enviada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1840, 480]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/n8n_chat_histories",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
          { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
          { "name": "Content-Type",  "value": "application/json" }
        ]},
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ session_id: $json.phone_destino, message: { type: 'ai', content: '[CONFIRMAÇÃO AUTOMÁTICA]: ' + $json.mensagem.replace(/\\n/g, ' ') }, created_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "cf000014-0000-0000-0000-000000000014",
      "name": "Salvar Histórico",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1840, 720]
    },

    {
      "parameters": { "amount": 1, "unit": "seconds" },
      "id": "cf000015-0000-0000-0000-000000000015",
      "name": "Delay 1s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2080, 600],
      "webhookId": "nutri-conf-wait"
    }

  ],

  "connections": {
    "Cron 1h":               { "main": [[{ "node": "Buscar Tenants Ativos", "type": "main", "index": 0 }]] },
    "Buscar Tenants Ativos": { "main": [[{ "node": "Loop Tenants",          "type": "main", "index": 0 }]] },
    "Loop Tenants": {
      "main": [
        [{ "node": "Buscar Config Tenant", "type": "main", "index": 0 }],
        []
      ]
    },
    "Buscar Config Tenant":  { "main": [[{ "node": "Verificar Config",   "type": "main", "index": 0 }]] },
    "Verificar Config":      { "main": [[{ "node": "Buscar Agendados",   "type": "main", "index": 0 }]] },
    "Buscar Agendados":      { "main": [[{ "node": "Filtrar Janela",     "type": "main", "index": 0 }]] },
    "Filtrar Janela":        { "main": [[{ "node": "Loop Contatos",      "type": "main", "index": 0 }]] },
    "Loop Contatos": {
      "main": [
        [{ "node": "Gerar Confirmação", "type": "main", "index": 0 }],
        [{ "node": "Loop Tenants",      "type": "main", "index": 0 }]
      ]
    },
    "OpenAI Confirmação":    { "ai_languageModel": [[{ "node": "Gerar Confirmação", "type": "ai_languageModel", "index": 0 }]] },
    "Gerar Confirmação":     { "main": [[{ "node": "Montar Dados",          "type": "main", "index": 0 }]] },
    "Montar Dados":          { "main": [[{ "node": "Enviar via Cloud API",  "type": "main", "index": 0 }]] },
    "Enviar via Cloud API": {
      "main": [[
        { "node": "Marcar Confirmação Enviada", "type": "main", "index": 0 },
        { "node": "Salvar Histórico",           "type": "main", "index": 0 }
      ]]
    },
    "Marcar Confirmação Enviada": { "main": [[{ "node": "Delay 1s",       "type": "main", "index": 0 }]] },
    "Delay 1s":              { "main": [[{ "node": "Loop Contatos",        "type": "main", "index": 0 }]] }
  },

  "pinData": {},
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "meta": { "instanceId": "nutri-juliana-confirmacao" },
  "notes": {
    "variables_required": [
      "SUPABASE_URL — URL do projeto Supabase",
      "SUPABASE_SERVICE_KEY — Chave service_role do Supabase",
      "OPENAI_CREDENTIAL_ID — Credencial OpenAI configurada no n8n"
    ]
  }
}
